:root {
    /* Standard colors used */
    --color-blue: #007bff;
    --color-red: #d35b51;
    --color-green: #70b568;
    --color-orange: #ea8137;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-0: #fafafa;
    --color-gray-1: #f0f0f0;
    --color-gray-2: #dedede;
    --color-gray-3: #cccccc;
    --color-gray-4: #999999;
    --color-gray-5: #666666;
    --color-gray-6: #222222;
    --color-gray-7: #111111;
    /* Main buttons used */
    --primary-button-color: #007bff;
    --primary-button-color-hover: #0056b3; 
    --primary-button-color-active: #004085;
    /* Main elements */
    --background-color: #fafafa;
    --main-background-color: #ffffff;
    --branding-color: #222222;
    --padding: 15px;
    --font-family: Helvetica, Arial, sans-serif;
    --font-color: var(--color-gray-4);
    --font-size: 1em;
    --line-height: 1.4em;
    --code-font-family: "Courier New", Courier, monospace;
    --code-font-color: var(--color-gray-6);
    --code-background-color: var(--color-gray-1);
    --code-font-size: 1em;
    --link-font-color: var(--color-gray-5);
    --link-hover-color: var(--branding-color);
    --heading-font-family: Helvetica, Arial, sans-serif;
    --heading-color: var(--color-gray-6);
    --heading-line-height: 1.2em;
    --mobile-menu-background-color: rgba(255, 255, 255, 0.5);
    --menu-link-color: var(--font-color);
    --menu-link-hover-color: var(--branding-color);
    --mobile-menu-link-color: var(--heading-color);
    --background-blur: 8px;
    --background-blur-contrast: 80%;
    --mobile-menu-link-hover-color: var(--background-color);
    --mobile-menu-link-background-hover-color: var(--font-color);
    --form-input-text-color: var(--color-gray-4);
    --form-input-border: 1px solid var(--color-gray-3);
    --form-input-background-color: var(--color-gray-1);
    --form-placeholder-color: var(--font-color);
    /* Change debug outlines to 0px when not in use */
    --debug-all-outline: 0px solid red;
    --debug-layout-outline: 0px solid rgb(0, 0, 255);
}

[data-theme="dark"] {
    --background-color: #1c1c1c;
    --main-background-color: #222222;
    --branding-color: rgb(255, 255, 255);
    --link-font-color: var(--color-gray-3);
    --link-hover-color: var(--branding-color);
    --heading-color: #CCCCCC;
    --heading-line-height: 1.2em;
    --mobile-menu-background-color: rgba(32, 32, 32, 0.5);
    --menu-link-color: var(--font-color);
    --menu-link-hover-color: var(--branding-color);
    --mobile-menu-link-color: var(--heading-color);
    --background-blur: 8px;
    --background-blur-contrast: 80%;
    --mobile-menu-link-hover-color: var(--background-color);
    --mobile-menu-link-background-hover-color: var(--font-color);
    --code-font-color: var(--color-gray-3);
    --code-background-color: var(--color-gray-7);
    --form-input-border: none;
    --form-input-text-color: var(--color-gray-5);
    --form-input-background-color: var(--color-gray-7);
    --form-placeholder-color: var(--font-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    outline: var(--debug-all-outline);
}

html {
    min-height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-color) fixed;
    color: var(--font-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 1s ease, color 2s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    line-height: var(--heading-line-height);
    padding: var(--padding) 0;
    color: var(--heading-color);
}

p {
    padding-bottom: var(--padding);
}

pre, code {
    margin: 0 auto;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: var(--code-font-color);
}

pre {
    margin: 15px auto;
    display: block;
    padding: var(--padding);
    overflow: auto;
    line-height: 1.45;
    color: var(--codefont-color);
    background-color: var(--code-background-color);
    border-radius: 6px;
}

.pre-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

.highlight {
    padding: 3px;
    background-color: var(--code-background-color);
}

.copy-code {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.6em;
    cursor: pointer;
    padding: 0 5px;
    opacity: 0.5;
}

.copy-code:hover {
    opacity: 1;
}


a, a:link, a:active, a:visited {
    color: var(--link-font-color);
    text-decoration: underline;
}

a:hover {
    color: var(--link-hover-color);
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

#header, #main, #footer {
    padding: var(--padding);
    width: 100%;
    outline: var(--debug-layout-outline);
}

#header {
    display: inline-block;
}

#main {
    background-color: var(--main-background-color);
    margin: 0 auto;
    margin-bottom: 120px;
    max-width: 1200px;
    transition: background-color 1s ease, color 2s ease;
}

#footer {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

#branding {
    display: inline-block;
    width: 180px;
    padding: 15px;
}


ul {
    list-style: disc;
    padding-left: 25px;
}

ol {
    list-style: none;
    counter-reset: cupcake;
    padding-left: 15px;
  }

  ol li {
    counter-increment: cupcake;
  }

  ol li:before {
    content: counters(cupcake, ".") ". ";
}

.hidden {
    display: none;
}

/* Original SVG must be black for filter to apply correctly. */
.svg-filter-light {
    filter: invert(100%) sepia(1%) saturate(5%) hue-rotate(13deg) brightness(102%) contrast(102%);
}

.svg-filter-dark {
    filter: invert(8%) sepia(8%) saturate(0%) hue-rotate(182deg) brightness(108%) contrast(91%);
}

/* Nav menu elements */
.navbar {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1200px;
}

.navbar li a {
    color: var(--menu-link-color);
    display: flex;
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--menu-link-hover-color);
    background: none;
    font-size: calc(var(--font-size) + 2px);
}

.navbar ul li {
    font-weight: bold;
    list-style-type: none;
}

.nav-links a {
    padding: 10px 20px;
}

.navbar .nav-links ul {
    display: flex;
}

.menu-trigger {
    display: none;
    position: absolute;
    right: 25px;
}


/* Menu Hamburger Icon */

.barTop, .barMiddle, .barBottom {
    width: 29px;
    height: 3px;
    background-color: var(--branding-color);
    margin: 4px 0;
    transition: 0.4s;
}

.change .barTop {
    transform: translate(0, 7px) rotate(-45deg);
}
  
.change .barMiddle {
    opacity: 0;
}
  
.change .barBottom {
    transform: translate(0, -7px) rotate(45deg);
}

/* Form elements reset */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
 }
 
 button,
 input {
   overflow: visible;
 }


 button,
 select {
   text-transform: none;
 }
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

/* Form elements styling */

form {
    margin: 0 auto;
    max-width: 720px;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--form-input-text-color);
    display: block;
    width: 100%;
    background-color: var(--form-input-background-color);
    border: var(--form-input-border);
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
}

input[type="file"] {
    display: none;
}

textarea {
    margin: 10px 0;
    resize: none;
}

textarea:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--form-input-text-color);
    width: 100%;
    padding: .5em;
    background-color: var(--form-input-background-color);
    border: var(--form-input-border);
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
}

select::-ms-expand {
    display: none;
}

label {
    display: block;
    margin: 10px 0;
}

.fileUpload, .btn-primary, button, button[type="submit"] {
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 10px 5px 10px 0;
    background-color: var(--primary-button-color);
    color: var(--color-white);
    padding: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.fileUpload {
    background-color: var(--main-background-color);
    color: var(--primary-button-color);
    padding: 16px;
    border: 2px solid var(--primary-button-color);
}

.fileUpload {
    padding: 0.88em 1.5em;
}

button:hover, button[type="submit"]:hover {
    background-color: var(--primary-button-color-hover);
}

button:active, button[type="submit"]:active {
    background-color: var(--primary-button-color-active);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button[disabled], button[disabled]:hover {
    background-color: var(--color-gray-4);
    color: var(--color-white);
    opacity: 0.65;
    cursor: not-allowed;
}

#search-box {
    margin: 0 auto;
  }

  #search-container {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  
  ::placeholder {
    color: var(--form-placeholder-color);
    opacity: 0.50;
  }
  
  :-ms-input-placeholder {
    color: var(--form-placeholder-color);
  }
  
  ::-ms-input-placeholder {
    color: var(--form-placeholder-color);
  }

  input:focus, textarea:focus, select:focus, input[type=text]:focus{
    outline: none;
    border: 2px solid var(--color-blue);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

/* Alert banners */

.alert {
    padding: 30px;
    margin-bottom: 12px;
    font-size: var(--font-size);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(var(--background-blur)) contrast(var(--background-blur-contrast));
    -webkit-backdrop-filter: blur(var(--background-blur)) contrast(var(--background-blur-contrast));
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
}

.alert-banner-info {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.alert-banner-danger {
    background-color: var(--color-red);
    color: var(--color-white);
}

.alert-banner-success {
    background-color: var(--color-green);
    color: var(--color-white);
}

.alert-banner-warning {
    background-color: var(--color-orange);
    color: var(--color-white);
}

/* Scroll to top button styles */
.scroll-to-top, .scroll-to-top:hover, .scroll-to-top:active {
    margin: 10px auto;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
  }
  
  .scroll-to-top.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    pointer-events: all;
  }
  
  .scroll-to-top-arrow {
    border: solid var(--color-gray-5);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
  }
  
  
  
/* Responsive element changes for menu */

@media screen and (max-width: 920px) {

    .navbar {
        padding-top: 0px;
    }

    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .toggle {
        padding-top: 0;
    }    

    .navbar ul {
        padding-left: 0;
    }   

    .nav-links {
        z-index: 999;
        top: 0;
        left: 0;
        position: absolute;
        width: calc(100% - 80px);
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        background-color: var(--mobile-menu-background-color);
        backdrop-filter: blur(var(--background-blur)) contrast(var(--background-blur-contrast));
        -webkit-backdrop-filter: blur(var(--background-blur)) contrast(var(--background-blur-contrast));
    }

    .nav-links a {
        padding: 20px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links li a:hover {
        color: var(--mobile-menu-link-hover-color);
        background-color: var(--mobile-menu-link-background-hover-color);
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li a {
        color: var(--mobile-menu-link-color);
        padding-left: 30px;
        display: block;
    }
}

/* Responsive element changes for other elements to display on smaller screens */

@media screen and (max-width: 768px) {
    
    /* Responsive form elements */

    .btn-primary, button, button[type="submit"] {
        display: block;
        margin: 15px 0 0 0;
        width: 100%;
        padding: 1.5em 2em;
    }

    .fileUpload {
        display: block;
        margin: 15px 0 0 0;
        padding: 1.38em 5em;
        width: 100%;
    }

    .pre-wrapper {
        width: 100%;
    }
}

/* Custom for PDF to text */

#countWrap {
    margin: 0 auto;
    font-family: Monaco, "Courier New", Courier, monospace;
    text-align: center;
}

#wordCount, #charCount {
    visibility: hidden;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

#fileName {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-weight: 600;
    visibility: hidden;
    text-align: center;
    display: block;
    margin: 10px auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

textarea {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 0.8em;
}
